h1 {
  margin: 2px 0 67px;
  letter-spacing: -0.7px;
}

.article-image {
  max-width: 37.8%;
  padding: 4px 0 0 25px;
}

.article-info {
  min-width: 330px;
  flex: 1;
  padding-left: 49px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    text-align: justify;
    margin-bottom: 24px;
  }

  a,
  button {
    margin: 2px 1px;
  }
}
